body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    padding: 2%;
    border: 5px solid black;
    min-height: 90%;
}

.header{
    font-size: 2em;
    border: 2px solid black;
    /* max-width: 30%; */
    margin: 0 auto;
    padding: 1.5%;
}

.pokemon-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokemon {
    text-align: center;
    margin: 10px;
}

.pokemon img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Optional: Round corners for a circular appearance */
}


.pokemon {
    margin: 10px;
    cursor: pointer;
}

.pkdetails, .pkabilities{
    min-width: 40%;
    max-width: 40%;
    margin: 0 auto;
}

.detail-section {
    margin-top: 20px;
}

.specs-abilities {
    display: flex;
    flex-direction: row; /* Stack child elements vertically */
    min-width: 40%;
    margin-right: 5%;
    text-align: justify;
    min-height: 400px;
}

.specs,
.abilities {
    border: 1px solid #ccc; /* Add a border to create boxes */
    padding: 10px;  /* Add some padding for better visual appeal */
    margin: 5px;  /* Add margin to create space between the boxes */
    text-align: justify;
    min-width: 40%;
    margin-left: 5%;
    min-height: 400px;
}

.hidden{
    display: none;
}

.abilityName {
    cursor: pointer;
    color: orange;
    text-decoration: underline;
}
ul{
    list-style-type:none ;
}

